// scss not common to learn.scss

#teach{
    color:#0099FF;
}
#teachMain{
    margin-top: -20px;
}
#teach-main-left{
    align-items: center;
}
#teachMainMobile {
    width: 100vw;
    display: none;
}
.middle-pg-1-rgt.teach-multiple {
    margin-top: -45px;
}
.teach-right {
    width: 97vw;
}
@media(max-width:1600px){
    #teach-main-left{
        align-items: baseline; 
    }
}
@media (max-width: 450px){
    #teachMainMobile {
        display: block;
        margin-left: -25px;

    }
    .teach-right {
        width: 100vw;
    }

}
