// scss not common to learn.scss

#teach{
    color:#0099FF;
}
#teachMain{
    margin-top: -60px;
}
#teachMainMobile {
    width: 100vw;
    display: none;
}
@media (max-width: 450px){
    #teachMainMobile {
        display: block;
    }
}
