.navscreenaddbutton {
    top: 0;
    font-size: 36px;
    padding: 8px 8px 8px 8px;
    display: block;
    background-color: #111;
    text-decoration: none;
    color: grey; /* Black*/
    border:none;
}