.navscreenaddbutton {
    top: 0;
    padding: 18px 8px 0px 26px;
    display: block;
    background:none;
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: #FFCC34; /* Black*/
    border-top: 1px solid #4C4C4C;
    border-bottom: 1px solid #4C4C4C;
    display: flex;
}
.plus-scene{
    font-size: 36px !important;
    margin-right: 10px;
}