.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    z-index: 1; /* Stay on top */
    background-color: #212121; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    width: 250px;
    height: 837px;
    transition: 0.5s ;
  }
  .sidenav ul {
    padding-left: 26px;
    list-style: none;
  }
  .sidenav ul li a {
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
  }
  