
#warning {
    display: none;
}
.google-login{
    text-align: center;
}
#google_logo{
	width: 25px;
	height: 25px;
	margin-left: 5px;
	
}
.or{
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    color: #424551;
    opacity: 0.6;
    margin-bottom: 26px;
}