#preview img{
    width: 500px;
    height: 300px;
}

#preview {
    width: 1039px;
    /* border: 3px dashed #C7EACF; */
   
    text-align: center;
    align-content: center;
}
#parents{
    margin: auto;
}
.inputbox{
        border: 3px dashed #C7EACF;
        box-sizing: border-box;
        border-radius: 16px;

}