.container-box{
  color: white;
  background:#212121;
}
.header-additems{
  display: flex;
  background: #212121;
  opacity: 0.95;
  height: 68px;
  padding: 23px 36px;
  border-bottom: 1px solid #3C3C3C;
  transition: 0.5s ease-in-out;
  z-index: 1;
}
#hidden-menu{
  top: 51px;
  width: 200px;
  height: 120px;
  position: absolute;
  background: #212121;
  z-index: 10;
  padding: 20px;
  border: 1px solid darkolivegreen;
  left: 39px;
  border-radius: 0px 0px 8px 0px;
  display: none;
  font-size: 20px;
  font-weight: bold;
}
#hidden-menu p{
  cursor: pointer;
}

#hidden-menu p:hover{
  color:rgb(176, 221, 109);
} 

.header-additems img{
  margin-right: 10px;
  height: 30px;
  margin-top: -4px;
  cursor: pointer;
}
.course-num{
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.02em;
  font-weight: bold;
}
.headercenter{
  height: 46px;
  text-align: center;
  width: 77%;
}
.headercenter p {
  font-size: 20px;
  line-height: 22px;
}
.preview-course{
  width: 157px;
  height: 38px;
  background: #192834;
  border-radius: 32px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #0099FF;
  position: absolute;
  border: none;
  top: 16px;
  right: 150px;
  cursor: pointer;
}
.save-course{
  width: 157px;
  height: 38px;
  background: #192834;
  border-radius: 32px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #0099FF;
  position: absolute;
  border: none;
  top: 16px;
  right: 330px;
  cursor: pointer;
}
.save-course img {
  margin-right: 9px;
  margin-top: -3px;
}
.sign-out-add{
  right: 26px;
  top: 20px;
  width: 100px;
  height: 30px;
  border-radius: 48px;
  background-color: #0099ff;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  border: none;
  position: absolute;
  cursor: pointer;
}
.course-screen{
  border-right: 1px solid #3C3C3C;
  border-left: 1px solid #3C3C3C ;
  text-align: center;

}
.add-item-main{
  display: flex;
 
}
.row-div{
  display: flex;
}
.type-box{
  margin: 10px;
  text-align: center;
}
.less-margin{
  margin-left: 5px !important;
  margin-right: 6px !important;
}
.type-box p{
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}
.add-media-div{
  display: flex;
  width: fit-content;
  margin: auto;
  margin-top: 30px;
}

#image-add{
  margin-bottom: 2px;
}



.add{
  width: 40px;
  height: 40px;
  background: #423100;
  border-radius: 8px;
  font-size: 16px;
  line-height: 19px;
  color: #FFCC34;
  font-weight: 500;
  font-size: 18px;
  border: none;
  margin-bottom: 13px;
  cursor: pointer;
}

button.add.last-btn {
  margin-bottom: 398px;
}
#add-image{
  padding-top: 8px;
}

.course-top > p {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 1.6rem;
}

.course-top{
  display: flex;
}

.files{
  position:relative ;
  display: grid;
}

#upload{
  width: 64vw;
  height: 600px;
  border: none;
  text-align: center;
  display: flex;
  align-items: center;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.04)), rgba(255, 255, 255, 0.9);
}

#upload p {
  color:#212121;
  margin: auto;
  font-size: 20px;
  line-height: 24px;
}

#preview{
  display: none;
  width: 64vw;
  height: 600px;
  border: none;
  text-align: center;
  overflow:hidden;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.04)), rgba(255, 255, 255, 0.9);

}

#resizediv1, #resizediv2, #resizediv3, #resizediv4, #resizediv5{
  display: none;
  width: fit-content;
  height: fit-content;
}
#resize1, #resize2, #resize3, #resize4, #resize5  {
  overflow: hidden;
  text-align: left;
}
#resize1:active, #resize1:hover, #resize2:active, #resize2:hover, #resize3:active, #resize3:hover, #resize4:active, #resize4:hover, #resize5:active, #resize5:hover{
  border: 2px solid green;

}
#resize1 img , #resize2 img, #resize3 img , #resize4 img , #resize5 img {
  width: 100%;
  height: 100%;

}


.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}
.interactions-div{
  width: 21vw;
  background:#212121;
  box-sizing: border-box;
  padding: 20px;
}

.interactions-div > p{
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 25px;
}
#interaction{
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 0px;
}
#plus{
  float: right;
  font-size: 40px;
  margin-top: -41px;
}
.image-head {
  margin-top: 20px;
  margin-bottom: 10px;
}
.image-head p {
  font-size: 16px;
  margin-bottom: 0px;
  font-weight: bold;
}
.image-head img {
  float: right;
  margin-top: -19px;
  height: 13.5px;
  margin-right: -18px;
}
.create-quest{
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.04)), #212121;
  border-radius: 8px;
  border: none;
  box-sizing: border-box;
  height: 105px;
  width: 20vw;
  padding: 20px 35px;
  text-align: center;
  margin-bottom: 10px;
  display: none;

 
}
.create-question-main{
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.create-question-main img {
  width: 21px;
  margin-bottom: 3px;
}

.create-question-main p {
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 3px;
}
.create-question-main span {
  right: 50px;
  background: none;
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
}

.cust-select{
  background: none;
  border-radius: 4px;
  width: 110px;
  height: 24px;
  border: 0.5px solid rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
  position: absolute;
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  right: 85px;
  outline: none;
  
}
.cust-select option{
  color: rgba(255, 255, 255, 0.6);
  background: #212121;
  font-size: 16px
}
.interaction-type{
  display: flex;
}
.interaction-type p {
  font-size: 16px;
  line-height: 100%;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 14px;
  margin-right: auto;
}
.interaction-type span {
  margin-right: 10px;
  font-size: 30px;
  margin-top: 1px;
 
  margin-left: auto;
}


#text {
  display:none;
}

.text-input{
  background: none;
  border: 1px dashed rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  color: black;
  height: 88%;
}
#question{
  display: none;
}
.question-num {
  font-size: 12px;
  line-height: 100%;
  color: #212121;
}
.question-num-div {
  background: none;
  border: 1px dashed rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 16px;
}
.question-num-div p {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #4B4B4B;
  margin-bottom: 10px  !important;
}

.input-ques {
  margin-bottom: 25px;
}
.question-num-div ul li {
  list-style: circle;
}
.add-option {
  color: #16852E;
  font-size: 14px;
  margin-left: -20px;
} 
#addtext {
  margin-top: 20px;
}

a:hover {
  color: #0056b3;
  text-decoration: none;
}
#option-redirect{
  display: none;
  box-sizing: border-box;
  border-radius: 8px;
  width: 20vw;
  height: 175px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.04)), #212121;;
}
.question-header{
  background: #212121;
  border-radius: 3px 3px 0px 0px;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.question-header p {
  font-size: 16px;
  margin-bottom: 0px;
  font-weight: bold;
  margin-top: 11px;

}
.question-header img {
  position: absolute;
  right: 13px;

}
.options{

  margin-left: 16px;
  display: flex;
  align-items: center;
}

.options >p {
  font-size: 12px;
  line-height: 100%;
  color: rgba(255, 255, 255, 0.6);
}
.add-option-dest{
  display: flex;
  align-items: center;
  right: 65px;
  position: absolute;
}
.add-option-dest img {
  margin-top: -17px;
  margin-right: 10px;
}
.add-option-dest p {
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: white;
}
.btn{
  margin-bottom: 10px;
}
.mobile-alert{
  background: #212121;
  width: 100vw;
  height: 100vh;
  display: none;
  padding: 20px;
}
.go-back {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: white;

}
.go-back:focus{
  color: rgb(179, 179, 130);
}
.mobile-alert div{
  text-align: center;
  display: flex;
  align-items: center;
  height: 80vh;
}
.mobile-alert div p {
  font-size: 20px;
  font-weight: bold;
}

#textinputstyle{
  display: none;
}

@media (max-width: 750px){


  .header-additems{
    display:none;
  }
  .add-item-main{
    display: none;
  }
  .mobile-alert{
    display: block;


  }


}