.change-media{
    margin-bottom: 0px;
}
.change-thumbnail{
    font-size: 16px;
    margin-top: 10px;
    color:skyblue;
    margin-bottom: 0px;
    cursor: pointer;
}
.change-thumbnail:hover{
    color: rgb(79, 188, 231);
}