@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy'), url(./../../fonts/Gilroy-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Gilroy-bold';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-bold'), url(./../../fonts/Gilroy-Bold.ttf) format('truetype');
}
*{
	margin: 0px;
    padding: 0px;
    font-family:'Gilroy';
}

//Grid System////////////////
.row{
    display: flex;
    width: 100%;
}
.row::after{
    display: block;
    clear: both;
    content:"";
}
.col-1 {width:8.33%;}
.col-2 {width:16.66%;}
.col-3 {width:25%;}
.col-4 {width:33.33%;}
.col-5 {width:41.66%;}
.col-6 {width:50%;}
.col-7 {width:58.33%;}
.col-8 {width:66.66%;}
.col-9 {width:75%;}
.col-10 {width:83.33%;}
.col-11 {width:91.66%;}
.col-12 {width:100%;}

* {
    box-sizing: border-box;
}

////////////////////////////////
body{
    overflow-x: hidden;
}
/////all <a> tags///////
a:link { 
    //text-decoration: underline; 
    text-decoration: none; 
} 
a:hover { 
    text-decoration: none; 
}


.container1{
    width: 100vw;
    position: relative;
    background-color: #212121;
    overflow-y: hidden;
    
}
#backdisable{
    width: 100%;
    z-index: 150;
    height: 100%;
    background-color: white;
    color: #aaa;
    opacity: .3;
    filter: alpha(opacity=50);
    position: absolute;
    display: none;
}

.header{
    width: 100vw;
    display:flex;
    height: 160px;
    opacity: 0.95;
    background: linear-gradient(90deg, #262626 0%, #0F0F0F 100%);
    margin-top: 0px;
    z-index: 99;
    position: relative;
    -webkit-transition: top .4s ease-in-out;
    transition: top .4s ease-in-out;  
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    padding-top: 80px;
    top:-80px;
    // will-change: top;
}
.header.mini{
    background : linear-gradient(90deg, rgb(38, 38, 38) 0%, rgb(54, 88, 102) 100%);
    position: fixed;
    height: 90px;
    padding-top: 0px;
}


#menu_icon{
    display: none;
    position: absolute;
}
#sidebar{
    display: none;
    padding-top: 10px;
    background-color:#212121 ;
    width: 150px;
    position: absolute;
    z-index: 11;
    border-radius: 0px 0px 7px 0px;
}
#sidebar img{
    position:absolute;
    top: -33px;
    left: 20px;
    z-index: 20;

}
#sidebar ul{
    margin-left: 20px;
    list-style: none;
}
#sidebar ul li {
    font-size: 12px;
    line-height: 100%;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 20px;
}
#sidebar ul li a {
    font-size: 12px;
    line-height: 100%;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 20px;
}


.sign-in-btn{
    width: 60px;
    height: 20px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: -0.4px;
    position: absolute;
    color: #0099ff;
    top: 111px;
    right: 292px;
}
.sign-in-btn:hover,.sign-in-btn:focus{
    color: #1985ce;
}
.sign-up-btn {
    right: 120px;
    width: 124px;
    height: 40px;
    border-radius: 48px;
    background-color: #0099ff;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    border: none;
    position: absolute;
    top: 100px;
    cursor: pointer;
}
.sign-up-btn:focus,.sign-up-btn:hover,#sign-in-mobile:focus, #sign-in-mobile:hover{
    outline: none;
    border: none;
    background-color: #0d74eb;
}
#sign-in-mobile{
    border-radius: 48px;
    background-color: #0099ff;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    border: none;
    position: absolute;
    cursor: pointer;
    display: none;
    right: 20px;
    width: 73px;
    height: 24px;
    font-size: 12px;
    top: 12px;

}

.link-txt{
  width: 53px;
  height: 17.1px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: normal;
  color: #ffffff;
}
.link-txt:hover{
    color:yellow;
}
.home-main{
    width: 100vw;
    height: 750px;
    display: flex;
}

.l-main-para-cont{
    display: grid;
    width: 50vw;
    padding-left: 6.25%;
    padding-right: 11%;
    padding-top: 0px;
}

.main_para_cont>form{
    display: block;
}
.main-para {
    font-family: 'Gilroy-bold';
    font-size: 4vw;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    color: #ffffff;

}

.phoneno{
    border: none;
    height: 50px;
    width: 28vw;
    padding-top: 10px;
    background-color: #212121;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    padding-left: 80px;
    margin-left: -61px;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.56px;
    color: rgba(255, 255, 255, 0.6);

}
.phoneno:focus{
    outline: none;
    border-bottom:2px solid skyblue;
}
/* Change the white to any color ;) */
.phoneno:-webkit-autofill,
.phoneno:-webkit-autofill:hover, 
.phoneno:-webkit-autofill:focus, 
.phoneno:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px  #212121 inset !important;
    
}
/*Change text in autofill textbox*/
.phoneno:-webkit-autofill {
    -webkit-text-fill-color: rgba(255, 255, 255, 0.6) !important;
}

.submit-btn,.phone-num{
    display: flex;
}

 
select.country-code {
    border: none;
    background-color: #212121;
    color: rgba(255, 255, 255, 0.6);
    font-size: 28px;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    margin-bottom: 8px;
    z-index: 8;
    overflow: hidden;
    height: 47px;
    padding-top: 8px;

}
select.country-code:focus{
    outline: none;
}
.dropdown{
    width: 24px;
    height: 24px;
    margin-top: 16px;
    margin-left: -17px;
    margin-right: -10px;
    z-index: 9;
}

.phoneno::placeholder {
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.56px;
    color: rgba(255, 255, 255, 0.6);
}
.phoneno input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
  }
.submit-btn{
    height: 71px;
    border-radius: 8px;
    background-color: #0099ff;
    width: 23vw;
    min-width: 200px;
    border: none;
    margin-top: 42px;
  
}
.submit-btn p {
    font-size: 1.5vw;
    line-height: 1;
    letter-spacing: -0.48px;
    color: #ffffff;
    margin: auto;
    font-weight: bold;

    
}
.privacy{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.36px;
    color: rgba(255, 255, 255, 0.4);
    margin-top: 14px;
    margin-right: 54px;
}

.main-image-cont{
    padding-top: 70px;
    width:50vw;
}
.l-main-learn{
    position: relative;
    width: 33vw;
}

.logo{
    height: 47px;
    margin-top: 7px;
    margin-left: 6vw;
    margin-right: 3vw;

}
.goto-div{
    width: 100%;
    text-align: center;
    height: 128px;
}

.homepage-head-text{
    width: 8.33vw;
    padding-left: 5vw;
    padding-top: 31px;
}
#future-depend{
  background-image: url('./../../Graphics/future_back.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 645px;
  display: flex;
  align-items: center;
  overflow: hidden; 
  width: 100vw;


}

#future-depend p{
    font-size: 6vw;
    font-weight: bold;
    line-height: 0.9;
    color: #ffffff;
    margin: auto;
}

.learn-container{
    height: 1700px;
    display: flex;
    padding: 285px 0px 285px 6vw; 
    background-color: #212121;
    align-items: center;
    margin-top: -1px;
    width: 100vw;
}
.learn-left{
    vertical-align: middle;
}
.left-main-text{
    font-size: 5.5vw;
    font-weight: bold;
    line-height: 100%;
    color: #FFFFFF;
    
 
}
.build{
    color: #4ef168;
}
.left-sub-heading{
    font-size: 2.4vw;
    line-height: 1.4;
    letter-spacing: 1.44px;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 25px;  
    margin-right: 10vw;

}
.learn-right{
    height: 1070px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.learn-right::-webkit-scrollbar {
    display: none;
}

.type-card{
    width: 22vw;
    height: 331px;
    overflow: hidden;
    border-radius: 8px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.0136) 100%), #212121;
    padding: 36px;
    display: grid;
    margin-right: 24px;
    margin-bottom: 24px;
}
.type-card img {
    width: 5vw;

}

.card-head{
    font-size: 1.7vw;
    font-weight: bold;
    letter-spacing: -0.56px;
    color: #ffffff;
    margin-top: 1.3vw;
    margin-bottom: 0.7px;
}
.card-subhead{
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: rgba(255, 255, 255, 0.6);
}
//Middle Page-1//////////////////////////////

.middle-pg-1{
    width: 100vw;
    height: auto;
    display: flex;
    background-color: #212121;
    padding-bottom: 250px;
    overflow: hidden;
    margin-bottom: -1px;
}

.middle-pg-1-lft{
    position: relative;
    width: 54vw;
    height: auto;
    display: block;
    padding-left: 6%;
    padding-top: 100px;
}

.middle-pg-1-rgt{
    position: relative;
    width: 48vw;
    height: auto;
    margin: auto;
}

.middle-pg-1-rgt > img{
    display: block;
    position: relative;
    width: 42vw;
    margin-top: 66px;
}

.middle-pg-1-lft > img{
    position: relative;
    width: 3vw;
    padding-bottom:10px;  
    

}

.middle-pg1-head{
    font-size: 4vw;;
    line-height: 120%;
    color: #FFFFFF;
    font-weight: bold;

  
}
.different{
    color: #ffcc34;
}

.middle-pg1-simple{
    padding-right: 20%;
    padding-top: 19px;
    font-size: 1.5vw;;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: rgba(255, 255, 255, 0.7);
}

.middle-pg1-list{
    position: relative;
    width: 100%;
    display:flex;
}

.middle-pg1-list > img{
    padding-right: 10px;   
    height: 34px;
    margin-top: 32px;
    margin-right: 20px;
}
.mobile-div{
    display: none;
}

//Middle Page-2//////////////////////////////


.middle-pg-2-lft{
    margin: auto;
    position: relative;
    width: 40vw;
    height: auto;
    display: block;
}

.middle-pg-2-rgt{
    position: relative;
    width: 60vw;
    height: auto;
    padding-top: 100px;
    padding-left: 5%;
    padding-right: 5%;
}

.middle-pg-2-lft > img{
    margin: auto;
    padding-left:10%;
    width: 42vw;
    margin-top: 66px;
 
}

.visualisation{
    color: #38e2a6;
}
.middle-pg-2-rgt > img{
    position: relative;
    width: 3vw;
    padding-bottom: 10px;
}

.middle-pg-2-rft > ul{
    list-style-image: url("../../Graphics/tick.png");
    list-style-position: outside;
  }

//Middle Page-3//////////////////////////////
.practical{
    color: #08c426;
}
//Middle Page-5//////////////////////////////
.scholarship{
    color:#38e2a6;
}

//Footer Page/////////////////////////
.footer-page{
    width:100vw;
    background-color: #212121;
    padding: 6vw;
    overflow: hidden;

}
.main-content{
    background-image: url('./../../Graphics/coming.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 542px;
    padding-top: 64px;
    padding-left: 46vw;
}
.break{
    display: none;
}

//Footer/////////////////////////////////////////
.footer{
    display: flex;
    width:100vw;
    height:340px;
    background: #212121;
    padding-top: 50px;
    padding-right: 30px;
    overflow: hidden;
}

.facebook{
    width:34px;
    height:34px;
    margin-top: 2px;
}

.youtube{
    width:49px;
    height:34px;
    margin-left: 17px;
}

.Feynman{
    position: relative;
    width:50%;
    padding-left: 9.375%;
    padding-top: 48px;
}
.head-text{
    font-weight: bold;
    font-size: 24px;
    line-height: 100%;
    /* or 24px */
    text-transform: uppercase; 
    color: #DDE3E2;
    //margin-bottom: 2px;
}

.Contact{
    position: relative;
    width:25%;
    padding-left: 5.05%;
    padding-top: 48px;
}

.About{
    width:25%;
    padding-left: 13.3%;
    padding-top: 48px;
}

.Simple-Text{
    display: block;
    margin-top: 22px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: #dde3e2;
}
#login-container{
    display: none;
  
}
@media (min-width: 1000px){
    #menu_icon{
       display: none !important;
   }
   #sidebar{
      display: none !important;
   }
}

@media (max-width: 640px){
     .link-txt{
        display: none;
    }
}
// for-mobile
@media (max-width: 450px){
    #header{
        height: 47px;
    }
    #menu_icon{
        display: block;
        top: 9px;
        left: 20px;
    }
    .logo{
        height: 24.5px;
        width: 16px;
        margin: 6px 5px 0px 45vw;
    }
	.sign-in-btn,.homepage-head-text, .main-image-cont, .goto-div,#future-depend{
        display: none;
    }
    .sign-up-btn{
        display: none;
    }
    #sign-in-mobile{
        display: block;
    }
    .home-main{
        display: grid;
        margin-bottom: -35px;
    }
    .l-main-para-cont{
        width: 100vw;
        padding-top: 432px;
    }
    .main-para{
        font-size: 36px;
    }
    .phoneno{
        width: 83vw;
        font-size: 16px;
        margin-left: -33px;
        padding-left: 52px;

    }
    .phoneno::placeholder{
        font-size: 16px;
    }
    select.country-code{
        font-size: 16px;
        padding-top: 13px;
        height: 47px;
    }
    .dropdown{
     width: 16px;
     height: 16px;
     margin-left: -8px;
     font-size: 16px;
     margin-top: 21px;
    }
    .submit-btn{
        height: 44px;
        width:84vw ;
    }
    .submit-btn p {
        font-size: 16px;
        font-weight: bold;
    }
    .privacy {
        font-size: 12px;
    }
    .learn-container{
        display: grid;
        overflow: hidden;
        padding-left: 7px;
        padding-bottom: 0px;
        width: 100vw;
        height: 1000px;
        padding-top: 250px;
        margin-top: -1px;
    }
    .learn-left{
        text-align: center;
    }
    .left-main-text{
        font-size: 28px;
    }
    .left-sub-heading{
        margin-top: 15px;
        font-size: 12px;
    }
    .learn-right{
        height: 608px;
        overflow: hidden;
    }
    .type-card{
        width: 46vw;
        height: 190px;
        padding: 16px;
        margin-right: 10px;
        margin-bottom: 10px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.0136) 100%), #212121;
        border-radius: 8px;
    }
    .type-card img {
        width: 48px;
        height: 48px;
    }
    .card-head{
        font-size: 16px;
    }
    .card-subhead{
        font-size: 12px;
    }
    .middle-pg-1{
        margin-top: -1px;
        display: grid;
        height: 552px;
    }
    .not-for-mobile{
        display:none !important;
    }
    .mobile-div{
        display: grid;
        background-color: #212121;
        height: 552px;
        margin-top: -1px;
    }
    .middle-pg1-head{
        font-size: 24px;
    }
    .middle-pg1-simple{
        font-size: 12px;
    }
    .middle-pg-2-lft{
        width: 100vw;
        margin-top: -10px;
    }
    .middle-pg-2-lft img {
        width:90vw ;
    }
    .middle-pg-2-rgt{
        width: 100vw;
        padding-left: 9%;
        margin-top: -80px;
    }
    .middle-pg1-list img {
       height: 24px; 
       margin-top: 0px;
       margin-right: 0px;

    }
    .middle-pg1-simple{
        padding-top: 0px;
    }
    .footer-page{
        margin-top: -1px;
    }
    .main-content{
        background: none;
        padding-left: 1vw;
        height: 344px;
        padding-top: 30px;
        padding-left: 1vw;
    }

    .break{
        display: block;
        border-top: 1px solid rgba(255, 255, 255, 0.12);
    }
    .footer{
        height: 240px;
        padding-top: 0px;
    }
    .head-text{
        font-size: 16px;
    }
    .Simple-Text{
        font-size: 12px;
        margin-top: 16px;
    }
    .Feynman{
        padding-left: 8%;
    }

    .About{
        margin-left: -26px;
        padding-left: 0px;
    }
    .Contact{
        padding-left: 3.05%;
    }
    .facebook{
        width: 24px;
    }
    .youtube{
        width: 32px;
    }
    .mb-4{
        margin-bottom: 10px !important;
    }
   
    



}
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////