.coming-container{
    background-color: #212121;
}
.coming-soon{
    background-image: url('./../../Graphics/coming.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 542px;
    padding-top: 149px;
    padding-left: 46vw;
    padding-right: 8vw;
}
.coming-soon p {
    color: white;
    font-weight: bold;
    font-size: 3vw;
}
@media (max-width: 450px){
    .coming-soon{
        background: none;
        padding-left: 1vw;
        height: 200px;
        padding-top: 30px;
        padding-left: 20px;
        display: flex;
        align-items: center;
    }
    .coming-soon p {
        font-size: 20px;
    }
    #future-depend{
        height:310px;
    }
}
@media (min-width:450px) and (max-width:768px){
 #future-depend{height:350px;margin-top:-1px}
 .time-div{width:60px;height:90px;margin-left:10x;padding:18px 0}
 .right-time{margin-right:10px}
 .app-release{margin-top:65px;margin-bottom:15px}
 #notation,.date-time{width:440px;justify-content:center;}
 #future-depend p{font-size:42px}
 #notation p{font-size:26px;margin:12px 20px 10px 50px;padding:5px;justify-content:center;}
 }
 @media (min-width:768px) and (max-width:900px){
 #future-depend{height:450px;margin-top:-1px}
 .time-div{width:90px;height:120px;margin-left:15x;padding:34px 0}
 .right-time{margin-right:18px}
 .app-release{margin-top:105px;margin-bottom:35px}
 #notation,.date-time{width:640px;justify-content:center;}
 #future-depend p{font-size:42px}
 #notation p{font-size:26px;margin:12px 50px 10px 90px;padding:5px;justify-content:center;}
}
